.chapter {
  background: #ffffff;
  .chapter__title {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9A94B2;
    font-size: 50px;
    margin: 0;
    z-index: 1;
    @include media($tablet, false){
      top: 60px;
      left: 60px;
      font-size: 80px;
    };
  }
  .dialog {
    margin: auto;
    background: url('../../assets/img/dialogbg.svg') center no-repeat;
    background-size: contain;
    box-sizing: border-box;
    text-align: center;
    > p {
      overflow-y: scroll;
      font-size: 12px;
    }
    .dialog-ok {
      -webkit-appearance:none;
      border: none;
      background: none;
      margin-top: -10px;
      cursor: pointer;
    }
  }
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease-out .5s;
  &.screen--is-visible {
    opacity: 1;
    pointer-events: all;
  }
}


// Chapter 1
.ch1 {
  background: #C7F1FF;
  .chapter__title {color: #489BB6;}
  .dialog {
    width: 300px;
    height: 140px;
    padding: 26px 22px;
    .typed--ch1 {
      width: 250px;
      height: 60px;
    }
  }
  .chapter__illu {
    position: relative;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    .approbation {
      position: absolute;
      top: 120px;
      width: 225px;
      height: 115px;
      font-size: 18px;
      text-align: center;
      padding-top: 50px;
      background: url('../../assets/img/dialogbg--round.svg') center no-repeat;
    }
  }
  .btn-next {
    display: none;
  }
  .ch1__screen2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instruction {
    background: #ffffff;
    width: 210px;
    height: 35px;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottle {
    margin: auto;
    position: relative;
    width: 220px;
    height: 264px;
    &.bottle--is-shaking {
      pointer-events: none;
      animation: shake-slow 5s infinite ease-in-out;
    }
    &.bottle--is-popping {
      img:last-of-type {
        transform: translate3d(50px, -60px, 0);
      }
    }
    img {
      position: absolute;
      &:first-of-type {
        bottom: 0;
      }
      &:nth-of-type(2) {
        right: -50px;
        top: -30px;
      }
      &:last-of-type {
        top: 4px;
        right: 8px;
        transform: translate3d(0,0,0);
        transition: .2s cubic-bezier(0.55, 0.06, 0.68, 0.19) 1s;
      }
    }
  }
  @include media($phone-landscape, false){
    .ch1__screen1 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .chapter__illu, .dialog {
        margin: 0;
      }
      .approbation {
        top: 80px;
        left: 30px;
      }
    }
    .instruction {
      z-index: 2;
    }
  }
  @include media($tablet, false){
    .ch1__screen1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .dialog {
        margin: 0;
      }
    }
    .instruction {
      margin-top: 50px;
    }
  }
}


// Chapter 2
.ch2 {
  background: #C7F2FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ch2__screen1 {
    display: flex;
  }
  .chapter__title {
    color: #489BB6;
  }
  .sun {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #FFEC8A;
    width: 84px;
    height: 84px;
    border-radius: 100%;
  }
  .earth {
    position: absolute;
    bottom: -340px;
    left: -110px;
    z-index: 1;
  }
  .rocket {
    position: absolute;
    bottom: 70px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .dialog {
    width: 300px;
    height: 140px;
    padding: 26px 22px;
    margin-top: 30%;
    .typed--ch1 {
      width: 250px;
      height: 60px;
      overflow-y: scroll;
      font-size: 12px;
    }
    .dialog-ok {
      margin-top: -10px;
      cursor: pointer;
    }
  }
  .ch2__prompt1 {
    width: 176px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #ffffff;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 130px;
    left: calc(50% - 88px);
  }
  .ch2__btn1 {
    z-index: 2;
  }
  .man1, .man2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }
  .assemblage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #C7F1FF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    overflow: hidden;
    .ch2__prompt2 {
      position: absolute;
      top: 20px;
      left: calc(50% - 143px);
      width: 287px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #ffffff;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .assemblage__dropzone {
      width: 150px;
      height: 293px;
      background: url('../../assets/img/rocketshadow--mobile.png') center no-repeat;
    }
    .assemblage__pieces {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      > div {
        position: absolute;
        &.piece1 { top: 210px; left: 20px; }
        &.piece2 { top: 391px; left: 29px; }
        &.piece3 { top: 302px; left: 26px; }
        &.piece4 { top: 316px; right: -12px; }
        &.piece5 { bottom: 77px; right: 50px; }
        &.piece6 { bottom: 6px; right: 50px; }
        &.piece7 { bottom: 24px; left: 133px; }
        &.piece8 { bottom: 6px; left: 16px; }
        &.piece9 { top: 101px; left: 48px; }
        &.piece10 { top: 197px; right: 28px; }
        &.piece11 { top: 112px; right: 28px; }
        &.piece12 { bottom: 98px; left: 78px; }
      }
    }
  }
  .ch2__screen2 {
    &:after {
      z-index: -1;
      position: absolute;
      top: 200%;
      content: '';
      height: 300%;
      width: 100%;
      background: linear-gradient(#37314E 33.33%, #C7F2FF 66.66%);
    }
    .nav-href {
      background: #9A94B2;
    }
  }
  .ch2__screen2.is-launching {
    &:after {animation: launch-gradient 5s forwards;}
    .chapter__title {
      color: #9A94B2;
      transition: 5s ease;
    }
    .sun {animation: launch-sun 5s forwards;}
    .earth, .man2 {animation: launch-earth 5s forwards;}
    .rocket {animation: launch-rocket 3s ease-out forwards;}
  }
  @include media($phone-landscape, false){
    .ch2__screen1 {
      .dialog {
        z-index: 1;
        margin-top: 10%;
        margin-left: 20px;
      }
      .earth {
        left: initial;
        right: -80px;
        bottom: -380px;
      }
      .man1 {
        right: 70px;
      }
      .rocket {
        right: -125px;
        bottom: 30px;
      }
    }
    .ch2__screen2 {
      .dialog {
        z-index: 1;
        margin-top: 10%;
        margin-left: 20px;
      }
      .earth {
        left: initial;
        right: -80px;
        bottom: -380px;
      }
      .man2 {
        right: 70px;
      }
      .rocket {
        right: -125px;
        bottom: 30px;
      }
    }
  }
  @include media($tablet, false){
    .screen {
      .dialog {
        margin-top: 20%;
        margin-left: 50px;
      }
      .sun {
        width: 100px;
        height: 100px;
        right: 40px;
        top: 40px;
      }
      .earth {
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
      }
      .rocket {
        right: 0;
        left: 0;
      }
      .man1, .man2 {
        left: calc(50% + 100px);
        right: 0;
      }
      .ch2__prompt2 {
        top: 70px;
        height: 50px;
      }
    }
  }
}


// Chapter 3
.ch3 {
  &:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: #37314E;
    background-image: url('../../assets/img/bg--mobile.jpg');
    background-repeat: no-repeat;
    animation: bgrotate 240s infinite;
    @include media($tablet, false){
      background-image: url('../../assets/img/bg.jpg');
    }
  }
  .earth, .mars {
    position: absolute;
    &:after {
      content: '';
      position: absolute;
      top: -10%;
      left: -10%;
      width: 120%;
      height: 120%;
      border-radius: 100%;
      background: rgba(154, 148, 178, 0.3);
    }
  }
  .earth {
    width: 177px;
    height: 177px;
    left: -90px;
    bottom: 110px;
  }
  .mars {
    width: 100px;
    height: 100px;
    top: 94px;
    right: 5px;
  }
  .ch3__screen1 {
    display: flex;
    flex-direction: column;
    .rosetta {
      position: absolute;
      bottom: 200px;
      right: 55px;
    }
    .dialog {
      width: 300px;
      height: 140px;
      padding: 26px 22px;
      margin-bottom: 70px;
      z-index: 3;
      .typed--ch3 {
        width: 250px;
        height: 60px;
        overflow-y: scroll;
        font-size: 12px;
      }
      .dialog-ok {
        margin-top: -10px;
        cursor: pointer;
      }
    }
  }
  .ch3__screen2 {
    display: flex;
    align-items: center;
    justify-content: center;
    .prompt {
      position: absolute;
      top: 20px;
      left: calc(50% - 143px);
      width: 287px;
      height: 57px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #ffffff;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .rosetta {
      position: relative;
      img {
        pointer-events: none;
        &:focus {
          outline: none;
          background: none;
        }
      }
      .outer-circle, .inner-circle {
        position: absolute;
        top: -42px;
        left: -42px;
        width: 264px;
        height: 264px;
        border-radius: 100%;
        z-index: -1;
        box-sizing: border-box;
        pointer-events: none;
      }
      .outer-circle {
        border: 1px solid #9A94B2;
        z-index: 1;
      }
      .inner-circle {
        background: #5A566C;
        transform: scale3d(.3, .3, 1);
        transition: .4s ease-out;
      }
    }
  }
  @include media($phone-landscape, false){
    .ch3__screen1 {
      .dialog {
        margin-bottom: 20px;
        margin-left: 20%;
      }
      .earth {
        bottom: -20px;
      }
      .mars {
        top: 30px;
        right: -15px;
      }
      .rosetta {
        bottom: 20px;
        right: 75px;
      }
    }
    .ch3__screen2 {
      .rosetta {
        transform: scale3d(0.8,0.8,1);
        margin-top: 80px;
      }
    }
  }
  @include media($tablet, false){
    .ch3__screen1 {
      .earth {
        left: -60px;
        bottom: 200px;
      }
      .rosetta {
        bottom: 360px;
        right: 200px;
      }
      .mars {
        top: 100px;
      }
      .dialog {
        margin-left: auto;
        margin-bottom: 70px;
      }
    }
    .ch3__screen2 .prompt {
      top: 70px;
      height: 70px;
    }
  }
}


// Chapter 4
.ch4 {
  &:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: #37314E;
    background-image: url('../../assets/img/bg--mobile.jpg');
    // background-repeat: no-repeat;
    animation: bgrotate 240s infinite;
    @include media($tablet, false){
      background-image: url('../../assets/img/bg.jpg');
    }
  }
  .screen {
    display: flex;
    flex-direction: column;
  }
  .dialog {
    width: 300px;
    height: 140px;
    padding: 26px 22px;
    margin-bottom: 20px;
    margin-top: auto;
    z-index: 3;
    .typed--ch4 {
      width: 250px;
      height: 60px;
      overflow-y: scroll;
      font-size: 12px;
    }
    .dialog-ok {
      margin-top: -10px;
      cursor: pointer;
    }
  }
  .ch4__screen1 {
    .asteroid {
      position: absolute;
      top: 284px;
      right: 55px;
    }
    .rosetta {
      width: 180px;
      position: absolute;
      top: 120px;
      left: 30px;
    }
  }
  .ch4__screen2 {
    position: fixed;
    top: 0;
    .asteroid {
      position: absolute;
      top: 138px;
      left: 15px;
    }
    .rosetta {
      position: absolute;
      bottom: 150px;
      right: 45px;
    }
    .chapter__title {
      top: 70px;
    }
  }
  .prompt {
    position: absolute;
    top: 20px;
    left: calc(50% - 143px);
    width: 287px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .field {
    .asteroid1 {
      position: absolute;
      top: 100px;
      right: 40px;
    }
    .asteroid2 {
      position: absolute;
      top: 330px;
      left: 30px;
    }

  }
  #slider{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    overflow:visible;
  }
  @include media($phone-landscape, false){
    .ch4__screen1 {
      .asteroid {
        top: 35px;
      }
    }
    .ch4__screen2 {
      .rosetta {
        bottom: 110px;
      }
    }
    .ch4__screen3 {
      .asteroid2 {
        top: 170px;
        left: 140px;
      }
      .prompt {
        z-index: 1;
      }
    }
  }
  @include media($tablet, false){
    .ch4__screen1 {
      .rosetta {
        top: 270px;
        left: 280px;
      }
      .asteroid {
        top: 175px;
        right: 200px;
      }
    }
    .ch4__screen2 {
      .asteroid {
        top: 350px;
        left: 240px;
      }
      .rosetta {
        top: 205px;
        right: 200px;
      }
    }
    .field {
      .asteroid1 {
        top: 160px;
        right: 330px;
      }
      .asteroid2 {
        top: 350px;
        left: 340px;
      }
    }
    .ch4__screen3 .prompt {
      height: 70px;
    }
  }
}


// Chapter 5
.ch5 {
  background: #000000;
  display: flex;
  flex-direction: column;
  .chapter__title {
    position: absolute;
  }
  .dialog {
    width: 252px;
    height: 104px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .typed--ch5 {
      width: 218px;
      height: 56px;
      overflow-y: scroll;
      font-size: 12px;
      margin: 0;
    }
  }
}


// Chapter 6



// Chapter 7



// Chapter 8



// Chapter 9
