.home {
  top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  z-index: 2;
  background: #37314E;
  color: #ffffff;
  text-align: center;
}

.home__splash {
  padding: 15px 0;
  box-sizing: border-box;
  height: calc(100vh - 106px);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  .headline {
    margin-top: 0;
    margin-bottom: auto;
  }
  .headline h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0;
  }
  .headline h2 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }
  .mission {
    margin-bottom: auto;
  }
  .mission img {
    width: 100px;
    height: 100px;
    background: #615C74;
    border-radius: 100%;
    overflow: hidden;
  }
  .mission p {
    margin: auto;
    width: 264px;
    height: 83px;
    background: #615C74;
    border-radius: 40px;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 300;
    margin-top: -20px;
  }
}


.home__startbutton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #615C74;
  border: 0;
  outline: 0;
  color: #ffffff;
}
