main {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background: #37314E;
}

main > section {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  transition: .3s ease-in-out .2s;
  overflow: hidden;
  &:target {
    opacity: 1;
    z-index: 1;
  }
  &:not(:target) {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    // &.home {
    //   opacity: 1;
    //   z-index: 1;
    //   pointer-events: all;
    // }
  }
  @include media($tablet, false){
    top: 70px;
    height: calc(100% - 70px);
  }
}
