<section id="ch1" class="chapter ch1">
  {{!-- First screen describing the approbation of the Rosetta Mission --}}
  <div class="ch1__screen1 screen screen--is-visible">
    <h2 class="chapter__title">1993</h2>
    <div class="chapter__illu">
      <img
        src="assets/img/fiesta--mobile.png" alt="C'est la fête !"/>
      <div class="approbation">
        <p>Fête l'approbation de la mission avec nous !</p>
      </div>
    </div>

    <div class="dialog">
      <p class="typed--ch1">La mission Rosetta est approuvée par l'Agence spatiale européenne (ESA).L'idée de lancer une sonde pour chasser des comètes n'est pas une lubie de scientifiques, elle a pour objectif ultime de mieux comprendre les origines de la vie sur terre. A l'origine de ce projet, il y a presque 30 ans, il ne s'agissait pas de faire atterrir un robot sur une comète, mais simplement de rapporter de la poussière pour l'analyser sur terre. L'ESA réalise rapidement que la mission coûtera trop cher. Il faut analyser la poussière in situ et envoyer un petit engin. Celui-ci s'appellera Philae, du nom d'une île sur le Nil. C'est lui qui doit atterrir mercredi sur la comète Tchourioumov-Guérassimenko, découverte en 1969 par des astronomes ukrainiens.</p>
      <button type="button" name="dialog-ok" class="dialog-ok">OK</button>
    </div>

    <button type="button" name="button" class="btn-next">Je suis prêt !</button>
  </div>

  {{!-- Second screen - mini-game about shaking a bottle of champagne --}}
  <div class="ch1__screen2 screen">
    <span class="instruction">Secoue la bouteille</span>
    <div class="bottle">
      <img src="assets/img/bottle--mobile.png" alt="Bouteille de champomy" />
      <img src="assets/img/bottlebubbles.svg" alt="bubbles !" />
      <img src="assets/img/bottlecap--mobile.png" alt="Bouteille de champomy" />
    </div>
    <a href="#ch2" class="btn-next nav-href" data-color-target="none">Chapitre suivant (2/9)</a>
  </div>
</section>
