<section class="app__ch2">
  <h2>Décembre 2002</h2>
  <p>L'accident de la fusée Ariane retarde la mission d'un an.</p>
  <h2>Mars 2004</h2>
  <p>La sonde Rosetta est lancée plus de dix ans après le début du projet, à bord d'une Ariane 5 lancée depuis Kourou, en Guyane Française.</p>
</section>
