<section id="ch2" class="chapter">
  <h2 class="chapter__title">Décembre 2002</h2>
  <div class="chapter__illu">
    <div class="fusee">
      <p>Répare la fusée!</p>
    </div>
  </div>

  <div class="dialog">
    <p class="typed--ch2">L'accident de la fusée Ariane retarde la mission d'un an.</p>
  </div>

<div class="prompt">
  <p>Assemble les pièces de la fusée!</p>
</div>

<div id="assemblage">
  <div id="piece-1" class="draggable drag-drop"><img src="" alt="" /></div>
  <!-- Duplicate this line for each piece of the puzzle -->

  <div class="dropzone"></div>
</div>

  <button type="button" name="button" class="btn-next">Je suis prêt !</button>

  <h2 class="chapter__title">Mars 2004</h2>
  <div class="chapter__illu">
  </div>

  <div class="dialog">
    <p class="typed--ch2">La sonde Rosetta est lancée plus de dix ans après le début du projet, à bord d'une Ariane 5 lancée depuis Kourou, en Guyane Française.</p>
  </div>

  <a href="#ch3" class="btn-next nav-href">Chapitre suivant! (3/9)</a>
</section>
