<section id="ch3" class="chapter">
  <div class="ch3__screen1 screen screen--is-visible">
    <h2 class="chapter__title">2005-2009</h2>

    <div class="chapter__illu">
      <div class="rosetta">
        <img src="" alt="" />
      </div>

      <div class="earth">
        <img src="" alt="" />
      </div>

      <div class="mars">
        <img src="" alt="" />
      </div>
    </div>

    <div class="dialog">
      <p class="typed--ch3"><strong>Mars 2005 - Novembre 2009 : </strong>Pour accélérer sa course vers le soleil, Rosetta doit utiliser les champs de gravité de la Terre et de Mars. Elle se livre à un véritable jeu de «billard cosmique», selon l'ESA, en se propulsant grâce à l'effet de fronde gravitationnelle de la Terre et de Mars. Elle s'approche de la Terre en mars 2005, novembre 2007 et novembre 2009, et de Mars en février 2007.</p>
    </div>

    <button type="button" name="button" class="btn-next ch3__btn1">J'aide à démarrer la sonde</button>
  </div>

  <div class="ch3__screen2 screen">
    <div class="prompt">
      <p>Appuie sur la sonde pour rallumer le réacteur !</p>
    </div>

    <div class="rosetta">
      <img src="" alt="" />
    </div>

    <a href="#ch4" class="btn-next nav-href" data-color-target="lightpurple">Chapitre suivant! (4/9)</a>
  </div>
</section>
