<section id="ch3" class="chapter">
  <h2 class="chapter__title">2005-2009</h2>
  <div class="chapter__illu">
    <div class="reacteur">
      <p>Aide la sonde Rosetta!</p>
    </div>
  </div>

  <div class="dialog">
    <p class="typed--ch3">Pour accélérer sa course vers le soleil, Rosetta doit utiliser les champs de gravité de la Terre et de Mars. Elle se livre à un véritable jeu de «billard cosmique», selon l'ESA, en se propulsant grâce à l'effet de fronde gravitationnelle de la Terre et de Mars. Elle s'approche de la Terre en mars 2005, novembre 2007 et novembre 2009, et de Mars en février 2007.</p>
  </div>

<div class="prompt">
  <p>Appuie sur la barre d'espace pour rallumer le réacteur!</p>
</div>

<div id="rosetta">
  <img src="" alt="" />
</div>

  <button type="button" name="button" class="btn-next">Je suis prêt !</button>
  <a href="#ch4" class="btn-next nav-href">Chapitre suivant! (4/9)</a>
</section>
