<section class="app__ch3">
  <h2>Mars 2005 - Novembre 2009</h2>
  <p>Pour accélérer sa course vers le soleil, Rosetta doit utiliser les champs de gravité de la Terre et de Mars. Elle se livre à un véritable jeu de «billard cosmique», selon l'ESA, en se propulsant grâce à l'effet de fronde gravitationnelle de la Terre et de Mars. Elle s'approche de la Terre en mars 2005, novembre 2007 et novembre 2009, et de Mars en février 2007.</p>
</section>
