<section id="ch4" class="chapter ch4">
  <div class="screen ch4__screen1 screen--is-visible">
    <h2 class="chapter__title">2008</h2>

    <div class="rosetta">
      <img src="assets/img/rosetta--mobile.png" alt="Sonde Rosetta">
    </div>

    <div class="asteroid">
      <img src="assets/img/asteroid1--mobile.png" alt="Astéroide Stein">
    </div>

    <div class="dialog">
      <p class="typed--ch4">Rosetta frôle l'astéroïde 2867 Stein à 800 km. Elle passe près de 21 Lutetia, un autre astéroïde, deux ans plus tard.</p>
      <button type="button" name="dialog-ok" class="dialog-ok ch4__btn1">OK</button>
    </div>
  </div>

  <div class="screen ch4__screen2">
    <h2 class="chapter__title">2010</h2>

    <div class="rosetta">
      <img src="assets/img/rosetta--mobile.png" alt="Sonde Rosetta">
    </div>

    <div class="asteroid">
      <img src="assets/img/asteroid2--mobile.png" alt="Astéroide 21 Lutetia">
    </div>

    <div class="dialog">
      <p class="typed--ch4">Elle passe près de 21 Lutetia, un autre astéroïde.</p>
      <button type="button" name="dialog-ok" class="dialog-ok ch4__btn2">OK</button>
    </div>

    <button type="button" name="button" class="btn-next ch4__btn3">Esquive les astéroïdes !</button>
  </div>

  <div class="screen ch4__screen3">
    <div class="prompt">
      <p>Aide Rosetta à esquiver les deux astéroïdes!</p>
    </div>

    <div class="field">
      <div class="asteroid1">
        <img src="assets/img/asteroid1--mobile.png" alt="Astéroide 21 Lutetia">
      </div>

      <div class="asteroid2">
        <img src="assets/img/asteroid2--mobile.png" alt="Astéroide 21 Lutetia">
      </div>

      <svg id="slider" xmlns="http://www.w3.org/2000/svg" width="174" height="292" viewBox="0 0 174 292" x="0px" y="0px" xml:space="preserve">
        <path id="rail" fill="transparent" stroke="#A8A8A8" d="M123.5 291s75-67.7 41.4-105.7S-61 129 22-3.7" stroke-dasharray="6"/>
        <image id="knob" x="-10" y="-35.7" width="65" height="65" xlink:href="assets/img/rosetta--mobile.png" />
      </svg>
    </div>

    <a href="#ch5" class="btn-next nav-href" data-color-target="none">Chapitre suivant! (5/9)</a>
  </div>
</section>
