<section id="ch4" class="chapter">
  <h2 class="chapter__title">2008</h2>
  <div class="chapter__illu">
    <div class="esquive">
      <p>Esquive les astéroïdes!</p>
    </div>
  </div>

  <div class="dialog">
    <p class="typed--ch4">Rosetta frôle l'astéroïde 2867 Stein à 800 km. Elle passe près de 21 Lutetia, un autre astéroïde, deux ans plus tard.</p>
  </div>

<div id="rosetta draggable">
  <img src="" alt="" />
</div>

  <button type="button" name="button" class="btn-next">Je suis prêt !</button>
  <a href="#ch5" class="btn-next nav-href">Chapitre suivant! (5/9)</a>
</section>
