<section id="ch5" class="chapter">
  <h2 class="chapter__title">Juin 2011</h2>
  <div class="chapter__illu">
  </div>

  <div class="dialog">
    <p class="typed--ch5">Le rayonnement solaire est insuffisant pour alimenter les batteries de ses équipements. Rosetta, qui se trouve alors à 800 millions de kilomètres du Soleil et un milliard de kilomètres de la Terre, doit être placée en «coma artificiel», une hibernation de 957 jours qui lui permettra d'économiser son énergie.</p>
  </div>

  <a href="#ch6" class="btn-next nav-href">Chapitre suivant! (6/9)</a>
</section>
