<section id="ch6" class="app__ch6">
  <h2>Janvier 2014</h2>
  <p>Rosetta est «réveillée», elle reprend sa route vers la comète à 9 millions de km de là. Grâce à ses 11 caméras et autres instruments de mesure et d'observation, elle commence à scanner la surface de Tchourioumov-Guérassimenko.</p>

  <a href="#ch7" class="btn-next nav-href">Je suis prêt !</a>
</section>
