<section id="ch7" class="chapter">
  <h2 class="chapter__title">12 novembre 2014</h2>
  <div class="chapter__illu">
    <div class="guidage">
      <p>Guide le module Philae!</p>
    </div>
  </div>

  <div class="dialog">
    <p class="typed--ch7">L'histoire s'accélère, peu après 10H00, le petit module Philae se sépare de Rosetta et descend lentement (à 3,5 km/h) vers Tchourioumov-Guérassimenko, à plus de 500 millions de km de la Terre.</p>
  </div>

  <div class="module draggable">
    <img src="" alt="" />
  </div>

  <button type="button" name="button" class="btn-next">Je suis prêt !</button>
  <a href="#ch8" class="btn-next nav-href">Chapitre suivant! (8/9)</a>
</section>
