<section id="ch7" class="app__ch7">
  <h2>12 novembre 2014</h2>
  <p>L'histoire s'accélère, peu après 10H00, le petit module Philae se sépare de Rosetta et descend lentement (à 3,5 km/h) vers Tchourioumov-Guérassimenko, à plus de 500 millions de km de la Terre.</p>
</section>
