<section id="ch8" class="app__ch8">
  <h2>Août 2015</h2>
  <p>Rosetta, qui doit continuer d'escorter la comète le plus longtemps possible, s'approchera extrêmement près du Soleil (185 millions de km) le jeudi 13.</p>

  <a href="#ch9" class="btn-next nav-href">Je suis prêt !</a>
</section>
