<section id="ch8" class="chapter">
  <h2 class="chapter__title">Août 2015</h2>
  <div class="chapter__illu">
  </div>

  <div class="dialog">
    <p class="typed--ch9">Rosetta, qui doit continuer d'escorter la comète le plus longtemps possible, s'approchera extrêmement près du Soleil (185 millions de km) le jeudi 13.</p>
  </div>

  <a href="#ch9" class="btn-next nav-href">Chapitre suivant! (9/9)</a>
</section>
