<section class="app__ch9">
<h2>Décembre 2015</h2>
<p>Fin programmée de la mission après une odyssée de 6,5 milliards de km qui aura mobilisé 14 pays européens avec les États-Unis, depuis 20 ans.</p>
</section>
