// Breakpoint
$desktop : '1440px';
$laptop : '1024px';
$tablet : '768px';
$mobileonly : '767px';

@mixin media($point) {
  @if $point == $desktop {
    @media (min-width: #{$desktop}) { @content ; }
  }
  @else if $point == $laptop {
    @media (min-width: #{$laptop}) { @content ; }
  }
  @else if $point == $tablet {
    @media (min-width: #{$tablet}) { @content ; }
  }
  @else if $point == $mobileonly {
    @media (max-width:#{$mobileonly})  { @content ; }
  }
}
