<section class="app__ch5">
<h2>Juin 2011</h2>
<p>Le rayonnement solaire est insuffisant pour alimenter les batteries de ses équipements. Rosetta, qui se trouve alors à 800 millions de kilomètres du Soleil et un milliard de kilomètres de la Terre, doit être placée en «coma artificiel», une hibernation de 957 jours qui lui permettra d'économiser son énergie.</p>
</section>
