<header class="header">
  <!-- header markup goes here -->
  <nav class="header__nav">
    <div class="menu-collapsed nav-link">
      <div class="bar"></div>
      <nav>
        <a href="#home">Accueil</a>
        <a href="#ch1">Chapitre 1</a>
        <a href="#ch2">Chapitre 2</a>
        <a href="#ch3">Chapitre 3</a>
        <a href="#ch4">Chapitre 4</a>
        <a href="#ch5">Chapitre 5</a>
        <a href="#ch6">Chapitre 6</a>
        <a href="#ch7">Chapitre 7</a>
        <a href="#ch8">Chapitre 8</a>
        <a href="#ch9">Chapitre 9</a>
      </nav>
    </div>
    <h1>Rosetta</h1>
    {{!-- <div class="nav-link">?</div> --}}
  </nav>
</header>
