<header class="app__header">
  <!-- header markup goes here -->
  <nav class="nav">
    <a href="#" class="nav__button">menu</a>
    <h1 class="">Rosetta</h1>
    <a href="#" class="nav__button">?</a>
  </nav>
</header>
