<header class="header">
  <!-- header markup goes here -->
  <nav class="header__nav">
    <div class="menu-collapsed nav-link">
      <div class="bar"></div>
      <nav>
        <a href="#home" class="nav-href" data-color-target="none">Accueil</a>
        <a href="#ch1" class="nav-href" data-color-target="lightblue">Chapitre 1</a>
        <a href="#ch2" class="nav-href" data-color-target="">Chapitre 2</a>
        <a href="#ch3" class="nav-href" data-color-target="">Chapitre 3</a>
        <a href="#ch4" class="nav-href" data-color-target="">Chapitre 4</a>
        <a href="#ch5" class="nav-href" data-color-target="none">Chapitre 5</a>
        <a href="#ch6" class="nav-href" data-color-target="">Chapitre 6</a>
        <a href="#ch7" class="nav-href" data-color-target="">Chapitre 7</a>
        <a href="#ch8" class="nav-href" data-color-target="">Chapitre 8</a>
        <a href="#ch9" class="nav-href" data-color-target="">Chapitre 9</a>
      </nav>
    </div>
    <h1>Rosetta</h1>
    <div class="nav-link"></div>
  </nav>
</header>
