<div class="help__overlay">
  <div class="help__hint help__hint--1">
    <p>Voici Rosetta, la sonde qui contient le laboratoire Philae. Tu vas suivre sa mission et collecter les données qu’elle a recueillie.</p>
  </div>
  <div class="help__hint help__hint--2">
    <p>Ceci est une preuve, appuie dessus pour l’ajouter à ton collecteur de preuve.</p>
  </div>
  <div class="help__hint help__hint--3">
    <p>Voila ton collecteur de donnée, tes preuves seront stockés ici pour constituer la documentation.</p>
  </div>
  <div class="help__hint help__hint--4">
    <p>Tu peux revenir en arrière ou au menu en cliquant ici.</p>
  </div>
  <div class="help__hint help__hint--5">
    <p>Si tu es perdu, tu peux revoir ce didacticiel en cliquant ici.</p>
  </div>
  <button type="button" name="help__ready">C'est parti !</button>
</div>
