<section class="app-home">
  <div class="home__splash">
    <h1>Mission Rosetta</h1>
    <h2>Collecte des preuves et aide les scientifiques de la mission Rosetta.</h2>

    <p>Rosetta est une mission spatiale de l’agence européenne dont l’objectif principal est de recueillir des données sur la composition du noyau de la comète 67P Churyumov-Gerasimenko et sur son comportement à l’approche du soleil.</p>
    <p>Les scientifiques ont besoin de ton aide pour déchiffrer le contenu de la boîte noire de la son Rosetta.</p>
    <button type="button" name="ready">Je suis prêt</button>
  </div>

  <div class="home__overlay">
    <p>Les scientifiques de la mission Rosetta sont débordés, ils ont besoin de ton aide pour documenter la mission rosetta et permettre d’analyser les données recueillies.</p>
    <p>Aide les en recueillant des preuves collectées tout au long de la mission.</p>
  </div>
</section>
