<section id="home" class="home">
  <div class="home__splash">
    <div class="headline">
      <h1>Mission Rosetta</h1>
      <h2>Collecte des preuves et aide les scientifiques</h2>
    </div>
    <div class="mission">
      <div class="mission--img">
        <img src="assets/img/astronaut.png" alt="Astronaute" />
      </div>
      <p>Les scientifiques ont besoin de ton aide pour déchiffrer le contenu de la boîte noire de la son Rosetta.</p>
    </div>
  </div>

  <a href="#ch1" class="home__startbutton btn-next nav-href" data-color-target="lightblue">Je suis prêt !</a>

  {{!-- <div class="home__overlay">
    <p>Les scientifiques de la mission Rosetta sont débordés, ils ont besoin de ton aide pour documenter la mission rosetta et permettre d’analyser les données recueillies.</p>
    <p>Aide les en recueillant des preuves collectées tout au long de la mission.</p>
  </div> --}}
</section>
