<section id="soon" class="home">
  <div class="home__splash">
    <div class="headline">
      <h1>Bravo !</h1>
      <h2>La sonde Rosetta est partie pour un long voyage...</h2>
    </div>
    <div class="mission">
      <div class="mission--img">
        <img src="assets/img/astronaut.png" alt="Astronaute" />
      </div>
      <p>D'autres missions arriveront d'ici peu, lorsque nous aurons des nouvelles de Rosetta. Reviens nous voir très vite !</p>
    </div>
  </div>

  <a href="#home" class="home__startbutton btn-next nav-href" data-color-target="none">Retour à l'accueil</a>
</section>
