<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Mission Rosetta</title>

  {{!-- Meta tags --}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  {{!-- Favicon --}}
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="assets/favicon/manifest.json">
  <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5 ">
  <meta name="theme-color" content="#ffffff ">

  {{!-- CSS stylesheets --}}
  <link href="assets/css/style.min.css" rel="stylesheet">

  {{!-- JS scripts --}}
  <script
  src="//code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  {{!-- <script async src="assets/js/typed.js"></script> --}}
  <script async src="assets/js/TweenMax.min.js"></script>
  <script async src="assets/js/Draggable.min.js"></script>
  <script async src="assets/js/throwPropsPlugin.min.js"></script>
  <script async src="assets/js/scripts.js"></script>
</head>
<body>
  <main data-color='none'>
    {{> header }}

    {{>home }}
    {{>chapters/ch1 }}
    {{>chapters/ch2 }}
    {{>chapters/ch3 }}
    {{>chapters/ch4 }}
    {{>chapters/ch5 }}
    {{>chapters/ch6 }}
    {{>chapters/ch7 }}
    {{>chapters/ch8 }}
    {{>chapters/ch9 }}
    {{>soon}}
  </main>
</body>
</html>
